@model IEnumerable<gssManRegistration.Models.registrations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.regid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academicyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.regid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academicyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
