@model gssManRegistration.Models.tbl_studentexdetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_studentexdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencycontactname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencycontactname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencycontactnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencycontactnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guardianname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guardianname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guardiannumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guardiannumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickuppersonname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickuppersonname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickuppersonnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickuppersonnumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
