@model IEnumerable<gssManRegistration.Models.testmarks20212022>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.markid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weeknumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quarternumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academicyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subjectid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subjectname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateadded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.markvalue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedbyuserid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedbyuserid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flagged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outofmark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testtype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.markid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weeknumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quarternumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academicyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subjectid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subjectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateadded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.markvalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedbyuserid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedbyuserid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flagged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outofmark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testtype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
