@model gssManRegistration.Models.tbl_studentexdetailmore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_studentexdetailmore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kifleketema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kifleketema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.woreda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.woreda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.housenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.housenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countryofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countryofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passportnationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passportnationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gohomealone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gohomealone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherworkplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherworkplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathercity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathercity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherofficenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherofficenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatheremailaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatheremailaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motherworkplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motherworkplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mothercity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mothercity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motherofficenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motherofficenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motheremailaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motheremailaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencyrelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyrelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickuprelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickuprelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailaddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
