@model gssManRegistration.Models.weeklymarks20212022

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>weeklymarks20212022</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.markid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weeknumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weeknumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quarternumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quarternumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acyear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acyear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subjectid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subjectid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subjectname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subjectname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateadded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateadded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateupdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateupdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markvalue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markvalue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedbyuserid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedbyuserid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedbyuserid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedbyuserid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flagged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flagged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outofpoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outofpoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quizorhomework)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quizorhomework)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
