@model gssManRegistration.Models.userdetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>userdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usertype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usertype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwordchangedon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwordchangedon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastseenon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastseenon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwordchangefrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwordchangefrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
