@model IEnumerable<gssManRegistration.Models.tbl_studentexdetailmore>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kifleketema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.woreda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.housenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passportnationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gohomealone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fatherworkplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathercity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fatherofficenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fatheremailaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motherworkplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothercity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motherofficenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motheremailaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencyrelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pickuprelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailaddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kifleketema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.woreda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.housenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countryofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passportnationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gohomealone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fatherworkplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fathercity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fatherofficenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fatheremailaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motherworkplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mothercity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motherofficenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motheremailaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emergencyrelationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pickuprelationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailaddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
