@model gssManRegistration.Models.tbl_student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.currentenrolledyear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentenrolledyear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrolleddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrolleddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathersname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathersname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mothersname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mothersname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
